
.star {
    background: url('/exempl/homework/star/img/star0.png') no-repeat; /* Путь к файлу с исходным рисунком  */
     /*  Рисунок как блочный элемент */
    width: 180px; /* Ширина рисунка */
    height: 150px; /*  Высота рисунка */
	float: right;
	;
	
   }
   .star:hover{
    background: url('/exempl/homework/star/img/star1.png') no-repeat; 
	 /*  Рисунок как блочный элемент */
    width: 180px; /* Ширина рисунка */
    height: 150px; /*  Высота рисунка */
	float:right;
   }
   .star:hover~.star{
    background: url('/exempl/homework/star/img/star1.png') no-repeat; 
	 /*  Рисунок как блочный элемент */
    width: 180px; /* Ширина рисунка */
    height: 150px; /*  Высота рисунка */
	float:right;
   }
