/* обнуление */
*,
*::before,
*::after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box; /* сброс отступов */
}
a {
	text-decoration: none; /* верстка */
}
ul,
ol,
li {
	list-style: none; /* сброс стиля*/
}
img {
vertical-align: top; /*  */
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit; 
	font-size: inherit; /*сброс стиля шрифтов */
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: black; /* сброс стиля боди */
	font-family: 'Open Sans'; /*подключение шрифтов */
}
/* верстка ------------------------------------*/
.container{
max-width: 1137px; /* ограничивающий контейнер */
padding: 0px 15px;
margin: 0px auto; /* выстраивание по середине для блочного контейнера*/
}
/* ШАПКА-------------------------------------------------------------*/
.header{
	width: 100%;
	left: 0;
	top: 0;
	background: #C4C4C4;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
}
.logowolf{
	width: 53px;
	height: 60px;
	left: 68px;
	top: 47px;
	float: left;
}
.logo{
	width: 104px;
	height: 25px;
	left: 130px;
	top: 67px;
	float: left;
	margin-top: 20px;
}
/* блок меню ссылки ------------------------*/
.menu{
	float: right;
	width: 220px;
	height: 19px;
	left: 915px;
	top: 72px;
	
}
.serch{
	width: 540px;
height: 40px;
left: 308px;
top: 61px;
float: left;
background: #FFFFFF;
border-radius: 31px;
margin-top: 10px;
}
.clear {
	clear: both;
}
.item1{
	margin: 0px 17px 0px 0px;
	display: inline-block;
}
.item2{
	margin: 0px 17px 0px 0px;
	display: inline-block;
}
.item3{
	margin: 0px 17px 0px 0px;
	display: inline-block;
}
.link{
	color: #000000;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	display: inline-block;
}
.hederdown {
	max-width: 1137px; /* ограничивающий контейнер */
padding: 0px 15px;
margin: 0px auto;

}
.menuitem {
	
}
.ski1 {
	width: 145px;
height: 40px;
left: 75px;
top: 132px;

background: #0772BF;
border-radius: 4px;
	display: inline-block;
	align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski2 {
	display: inline-block;
	width: 72px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski3 {
	display: inline-block;
	width: 127px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski4 {
	display: inline-block;
	width: 60px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski5 {
	display: inline-block;
	width: 132px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski6 {
	display: inline-block;
	width: 54px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
.ski7 {
	display: inline-block;
	width: 32px;
height: 22px;
left: 252px;
top: 142px;
align-items: center;
text-align: center;
letter-spacing: 0.01em;
}
/* main */
.main {
	width: 1428px;
	height: 464px;
	left: -94px;
	top: 192px;


background: url(/work/img/st_banner.jpg) no-repeat;
}
/*  ПОДВАЛ---------------------------------------------------*/